.MessagePane{
  background-color: #fff;
  height:100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.MessagePane-List{
  list-style: none;
  flex: 1;
  overflow: auto;
  margin-top: 50px;
}


.MessagePane-Form-container{
  background-color: #9068be;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  display:fixed;
  flex:1;
  flex-direction:column;
  justify-content:space-between;
}

 .send {
      width: auto;
  		background: #f86759;
  		color: #fff;
  		border: 0;
  		height: 40px;
      display:inline;
  		align-items: center;
  		justify-content: center;
  		font-size: 14px;
  		text-transform: uppercase;
      text-align: center;
      margin-top:5px;
      margin-left:20px;
      padding-left:20px;
      padding-right:20px;
      cursor: pointer;
}

.message {
    width: 50%;
    height: 40px;
    display: inline;
    float:left;
}
